.mt-4 .btn{
    width: 123px;
    height: 50px;
    background: #217BF4 0% 0% no-repeat padding-box;
    box-shadow: 0px 7px 44px #217BF457;
    border-radius: 14px!important;
    opacity: 1;
    
}

hr{
    border: 1px solid #217BF4 !important;
    opacity: 0.1 !important;
}

@media (max-width: 992px) {
    .form-div{
        
        padding-top: 2rem;
        margin-left: 2rem;
    }
}