@import url("./pages/__navbar.scss");
@import url("./pages/__community.scss");
@import url("./pages/__social.scss");
@import url("./pages/__features.scss");
@import url("./pages/__members.scss");
*{
    margin: 0;
    box-sizing: border-box;
}



